html{
  scroll-behavior: smooth;

}
body {

  margin: 0;
  width: 100%;
  height: auto;
 background-image: url(img/marco.png) ;
 background-repeat: no-repeat, repeat;
 background-size: cover;
 
}
h1 {
  margin: 0;
  font-family: "Callem";
  font-size: 250px;
  color: #be3b47;
}
h3 {
  margin: 0;
  font-family: "Callem";
  font-size: 100px;
}
h4{
  font-family: Glacialindiference;
  font-weight: 200;
}
p {
  margin: 0;
  font-family: "Cutive Mono", monospace;
  font-weight: 100;
  color: #545454;
  font-size: 30px;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none; /* Esto elimina el subrayado predeterminado de los enlaces */
}
@font-face {
  font-family: "Glacialindiference";
  src: url(/fonts/GlacialIndifference-Regular.otf);
  font-weight: 900;
}
@font-face {
  font-family: "Callem";
  src: url(/fonts/callem-script.ttf);
  font-weight: 900;
}
.body-container {
  width: 100%;
  z-index: -2;
 /*sirve para qu elos objetos desborados no se vean */
  height: auto;
 
  /* background-color: aqua; */
}

.section1-container-responsive{
  display: none;
}

.header {
  width: 100%;
  height: auto;
  /* background-color: blueviolet; */
}

.flores-container {
  width: 100%;
  height: auto;
 
  

  
}
#fondof1,
#fondof2 {
  width: 800px;
}
#fondof1 {
  position: absolute;
  top: -490px;
  left: -200px;
}
#fondof2 {
  position: absolute;
  z-index: -1;
  top: -490px;
  right: 0;
  transform: scaleX(-1);
}
#florgrande {

  width: 480px;
  position: absolute;
  top: -300px;
  left: 39%;
}
#florpeque1,
#florpeque2 {
  width: 290px;
}
#florpeque1 {
  position: absolute;
  top: -180px;
  left: 31%;
}
#florpeque2 {
  position: absolute;
  top: -180px;
  right: 27%;
}
.txt-alison{
  z-index: 1;
  margin-top: 10%;
  width: 100%;
  height: auto;
  /* background-color: rgb(161, 36, 36); */
  text-align: center;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  
}

.carta{
  width: 100%;
  height: auto;
  margin-top: -2%;
}
.carta p{
  text-align: center;
  padding: 0 10%;
  color: #000000;
}
.btn-sig{
  margin: 2% 0;
  text-align: center;
  width: 100%;
  height: auto;
}
.btn-sig img{
  object-fit: cover;
 
  height: 100px;
  animation-name: salto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 
}

.info{
  width: 100%;
  
  padding-top: 1%;
  /* background-image: url(./img/prueba-unscreen.gif); */
  
  /* background-color: #e9b0b0; */
}
.fecha{
  width: 100%;
text-align: center;
position: relative;
}
#nuneca{
  position: absolute;
  
  top: 0;
  left: -300px;
}
.fecha h1{
 
  font-size: 150px;
}
.fecha h2{
  font-family: Glacialindiference;
  color: #545454; 
  font-size: 50px;
  position: relative;

}
.fecha h2::before, .fecha h2::after{
  /* el content es obligatorio ponerlo para que se muestre el before */ content: ' ';position: absolute;border-top: 5px solid #be3b47  ;
} 

.fecha h2::before{
 
    top: -15px;
   width: 44%;
   left: 28%;
   }
.fecha h2::after{
 bottom: -15px;
  right: 28%;
   width: 44%;
}

.cards{
  margin-top: 2%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;

}

.cards-container{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.logos-padre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.logos-padre p{
  
  font-size: 40px;
  
}
.logos{
width: 30%;
margin-bottom: 2%;
background-color: #be3b47;
border-radius: 50%;
/* AQUI EL display sirve para que la imagen cubra el total del div */
display: flex;
padding: 8%;
box-shadow: -1px 0px 20px 3px rgba(0,0,0,0.75);
}
.logos:hover{
  cursor: pointer;
  transition: 0.5s;
  background-color: #d46aa1;
}
.logos img{
 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo{
  margin-top: 5%;
  text-align: center;
  width: 100%;
  height: auto;
}
.titulo h1{
  font-size: 150px;
}

.footerPag{
  display: flex;
 position: relative;

  width: 100%;
  height: 70vh;
 
  z-index: 2;
  overflow-y: hidden;
}

.info-foot{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
#derechaInfo{
  padding-left: 20%;

}
#izquierdaInfo{



  padding: 0 7%;
}

.logo-texto{
  display: flex;
  align-items: center;
 margin: 2% 0;
  width: 100%;
  height: auto;
}
.logo-texto p{
  margin-left: 10px;
  font-size: 25px;
}
.logo-texto img{
  width: 5%;
  padding: 2%;
  border-radius: 30%;
  object-fit: contain;
  background-color: #be3b47  ;
}

.redes{
  display: flex;
  justify-content: left;

  width: 100%;
  
}
.redes img{
  width:40px;
   height: 40px;
margin: 20% 10px;
padding: 8%;
  border-radius: 30%;
 
  object-fit: contain;
  background-color: #be3b47;
}




#fondof1footer,
#fondof2footer {
  width: 800px;
  transform: rotate(180deg);
}
#fondof1footer {
  position: absolute;
  rotate: (90deg);
  bottom: -500px;
  left: -200px;
}
#fondof2footer {
  
  position: absolute;
z-index: -1;
  bottom: -500px;
  right: 0;
  transform: scaleX(-1);
  
}
#florgrandefooter {
  transform: rotate(180deg);

  width: 480px;
  position: absolute;
  bottom: -350px;
  left: 35%;
}
#florpeque1footer,
#florpeque2footer {
  width: 290px;
  transform: rotate(180deg);
}
#florpeque1footer {

  position: absolute;
  bottom: -180px;
  left: 31%;
}
#florpeque2footer {
  position: absolute;
  bottom: -180px;
  right: 27%;
}


@keyframes salto {
  50%{
    transform: translate(0, -20px);
  }
  
  
}
@-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 
  @media (width < 1000px) {
    body{
      background-image: none;
    }

   
    .body-container{
      display: none;
      
    }
    .section1-container-responsive{
      display: block;
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: hidden;
    
    }
    .flores-container{
     
display: flex;
position: absolute;
    }

.section1-container-responsive h1{
  text-align: center;
  margin-top: 22vh ;
  margin-right: 5vw;
  font-size: 100px;
  
}
#alison{
  margin-top: 0;
}


    #fondof1,
#fondof2 {
  width: 500px;
  position: absolute;
  top: -10vh;
   
}
#fondof1 {
 
 
 transform: rotate(-20deg);
  left: -105vw; 
}
#fondof2 {

  transform: rotate(20deg);

  right: -105vw;
 
 
} 
#florgrande {

  width: 80vw;
  position: absolute;
  top: -20vh;
  left: 18vw;
}
#florpeque1,
#florpeque2 {
  width: 60vw;
  position: absolute;
  top: -15vh;
}
 #florpeque1 {
  
  left: -5vw;
} 
#florpeque2 {
  
  right: -20vw;
} 

#florpeque3, #florpeque4{
  top: 30vh;
  width: 60vw;
  position: absolute;
}
#florpeque3{
  left: -35vw;
  
}

#florpeque4{
  right: -35vw;
  transform: scaleX(-1);
  transform: rotate(180deg);
}
#florpeque5, #florpeque6{
  bottom: -8vh;
  width: 60vw;
  position: absolute;
}
#florpeque5{
  left: -25vw;
  transform: rotate(45deg);
  transform: scaleX(-1);
}

#florpeque6{
  right: -25vw;
  
 
}

#fondof3{
  z-index: -1;
  position:absolute;
  bottom: -70vh;


}
.fecha{
  display: block;
}
.fecha h2{
  font-size: 25px;
}
.fecha h4{
  font-weight: 200;
  color: #545454;
  font-size: 25px;
}

.btn-sig img{
height: 40px;
height: 40px;
}
.section2-responsive{
  width: 100vw;
  height: 100vh;
  background-color: #d35e5e;
}
  }